.page {
	@apply relative w-full h-full bg-primary-500;

	&::before {
		@apply absolute w-full h-full left-0 top-0 z-1;

		content: '';
		background: linear-gradient(0deg, #071689 0%, rgb(7 22 137 / 0) 124.14%);
	}

	&__content {
		@apply relative flex w-full h-full z-2;

		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 50px 0;
	}

	&__logo {
		margin-bottom: 68px;
	}

	&__form {
		margin-bottom: 63px;
	}

	&__image {
		@apply absolute transform-x-center;

		top: 170px;
		filter: blur(7.5px);
	}
}
