.btn {
	display: block;
	width: 100%;
	padding: 21px 5px 6px;
	border: 1.4px solid #ececec;
	border-radius: 9px;
	transition: all 0.3s ease-in-out;

	&:hover {
		border-color: #1036a5;
	}

	&:first-child {
		margin-top: -22px;
	}

	&__top {
		@apply flex-center-start font-medium text-[15px] text-black-900;

		gap: 12px;
		margin-bottom: 20px;
		padding-left: 19px;
	}

	&__bottom {
		display: grid;
		grid-template-columns: repeat(2, 130px) 1fr;
		grid-column-gap: 32px;
		align-items: center;
		height: 72px;
		padding: 13px 19px 13px 18px;
		border-radius: 6px;
		background: linear-gradient(0deg, #f9f9f9, #f9f9f9),
			linear-gradient(145.93deg, #f1f6fd 20.17%, rgb(241 246 253 / 0) 127.48%);
		transition: all 0.3s ease-in-out;

		&_label {
			@apply text-[14px] text-gray-400;

			margin-bottom: 2px;
			text-align: left;
		}

		&_value {
			@apply text-[15px] font-medium text-black-900;

			text-align: left;
		}
	}

	&__input {
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s ease-in-out;
	}

	&.active {
		border-color: #1036a5;

		.btn__bottom {
			background: #eff3fb;
		}

		.btn__input {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
